html,body,.doc{
  height: 100%;
}
body{
  background-color: #F7F7F7;
}
.doc-header{
  height: 50px;
  line-height: 50px;
  background: rgba(8, 12, 19, 1);
}
.doc-header__inner{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.doc-header__inner:after{
  content: '';
  display: block;
  clear: both;
}
.doc-title{
  font-size: 20px;
  color: #fff;
  float: left;
  min-width: 200px;
}
.doc-header-nav{
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.doc-header-nav > li{
  float: left;
  color: #fff;
  font-size: 16px;
  padding: 0 12px;
  position: relative;
  margin: 0 6px;
}
.doc-header-nav > li a {
  color: inherit;
  display: block;
}
.doc-header-nav > li a:hover{
  color: #00A4FF;
}
.doc-header-nav > li.has-submenu{
  padding-right: 30px;
}
.doc-header-nav > li.has-submenu:after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  transition: transform .3s ease;
}
.doc-header-nav > li.has-submenu:hover:after{
  transform: rotate(225deg);
}
.doc-header-nav > li.has-submenu:hover .doc-header-nav__sub{
  opacity: 1;
  left: 0;
  top: 100%;
}
.doc-header-nav__sub{
  z-index: 100;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  background-color: rgba(6, 16, 36, .9);
  min-width: 140px;
  position: absolute;
  left: -9999px;
  top: -9999px;
  transition: opacity .3s ease;
}
.doc-header-nav__sub li{
  padding-left: 12px;
  padding-right: 12px;
}
.doc-header-links{
  float: right;
  list-style: none;
  margin: 9px 0;
  padding: 0;
}
.doc-header-links:after{
  content: '';
  display: block;
  clear: both;
}
.doc-header-links__item{
  float: left;
  border: 1px solid #E9EBEE;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  min-width: 100px;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

.doc-book{
  width: 1200px;
  margin: 20px auto;
  box-sizing: border-box;
  min-height: calc(100% - 50px);
  padding-left: 220px;
  position: relative;
  background: #fff;
  height: auto;
}
.doc-book__sidebar{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  overflow-y: auto;
  border-right: 1px solid #E9EBEE;
}
.doc-book__summary > .book-summary{
  position: static;
  left: 0;
  top: 0;
  border-right: 0;
  background-color: transparent;
  width: auto;
}
.book-summary, .book-summary__item-menu{
  list-style: none;
  padding: 0;
  margin: 0;
}
.book-summary__item{
  min-height: 40px;
  position: relative;
}
.book-summary__item-link{
  display: block;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.book-summary__item-indent{
  display: inline-block;
  width: 1em;
  height: 1px;
}
.book-summary__item-menu{
  display: none;
}
.book-summary__item.has-submenu:after{
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-right: 1px solid #BFBFBF;;
  border-bottom: 1px solid #BFBFBF;;
  transform: rotate(45deg);
  position: absolute;
  right: 12px;
  top: 16px;
}
.book-summary__item.has-submenu.is-open:after{
  transform: rotate(225deg);
}
.book-summary__item.is-active > .book-summary__item-menu,
.book-summary__item.is-open > .book-summary__item-menu{
  display: block;
}
.doc-footer{
  background-color: #232840; 
  color: #fff;
  font-size: 12px;
}
.doc-copyright{
  height: 70px;
  line-height: 70px;
  text-align: center;
}