{% extends template.self %}
{% block body %}
<div class="doc doc--{{book.name}}">
	<header class="doc-header">
		<div class="doc-header__inner">
			{% if book.name === 'platform' %}
				<div class="doc-title">
					<span class="doc-title__image">明源云</span>
					<span class="doc-title__sub">{{ book.title }}</span>
				</div>
			{% else %}
				<div class="doc-title">
					{{ book.title }}
				</div>
			{% endif %}
			<ul class="doc-header-nav">
				{% for mainNav in book.navigation %}
				{% if mainNav.children %}<li class="has-submenu">{% else %}<li>
				{% endif %}
					<a href="{{mainNav.url}}" target="{{ mainNav.target}}">{{ mainNav.text }}</a>
					{% if mainNav.children %}
						<ul class="doc-header-nav__sub">
							{% for subNav in mainNav.children %}
							<li>
									<a href="{{subNav.url}}" target="{{ subNav.target}}">{{ subNav.text }}</a>
							</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			<span class="doc-header-links">
				{% for link in book.links %}
					<a class="doc-header-links__item" href="{{link.url}}" target="{{ link.target}}">{{ link.text }}</a>
				{% endfor %}
			</span>
		</div>
	</header>
	<div class="doc-container doc-book book">
		<div class="doc-book__sidebar">
			{% block book_sidebar %}
				{% block book_summary %}
				<nav role="summary" class="doc-book__summary book-summary">
					{% include "website/summary.html" %}
				</nav>
				{% endblock %}
			{% endblock %}
		</div>
		<div class="doc-book__main">
			{% block book_body %}
				<div class="body-inner">
					{% block book_inner %}
					<div class="page-wrapper" tabindex="-1" role="main">
						<div class="page-inner">
							{% block search_results %}
							<section class="normal markdown-section">
								{% block page %}
								{{ page.content|safe }}
								{% endblock %}
							</section>
							{% endblock %}
						</div>
					</div>
					{% endblock %}
				</div>
			{% endblock %}
		</div>
	</div>
	<footer class="doc-footer">
		<div class="doc-copyright">{{ book.copyright }}</div>
	</footer>
	<script>
		var gitbook = gitbook || [];
		gitbook.push(function() {
			gitbook.page.hasChanged({{ template.getJSContext()|dump|safe }});
		});
	</script>
</div>
{% endblock %}
